body {
    font-family: 'Varela Round', sans-serif;
}
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
.chart {
    padding: 20px;
    background: #f8f9fa;
    margin-top: 20px;
}
.ibox {
    margin-bottom: 20px;
}
.ibox-body {
    padding: 20px;
    position: relative;
}
.widget-stat-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 40px;
    opacity: 0.4;
}
.color-white {
    color: #fff;
}